@{
    ViewData["Title"] = "Home Page";
}
<header class=" mast hhead d-flex align-items-center">
    <div class="container px-4 px-lg-5 text-center">
        <h1 class="mb-1 display-1 fw-bold">Create your Stylish Resume</h1>
        <h3 class="mb-5 display-5"><em>A Free Website to create your own resume</em></h3>
        @*<a href="#about" class="text-dark bn15">Learn More</a>*@
        <button class="button-85 px-5 py-3" role="button"><a href="#about" class="fw-bold p-3" style="color:#abccdf">LEARN MORE</a></button>
    </div>
</header>
<!-- About-->
<section class="content-section pt-5">
    <div class="container px-4 px-lg-5 text-center">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-lg-10" id="about">
                <h2 class="display-3">USING A RESUME BUILDER CAN BE BENEFICIAL FOR SERVERAL REASONS:</h2>
                <div class="row pt-3">
                    <div class="lead mb-5 col">
                        <div class="display-1 py-3 h1"><i class="bi bi-people-fill"></i></div>
                        <p>Saves time: Creating a resume from scratch can be time-consuming and overwhelming. A resume builder can simplify the process by providing pre-designed templates, relevant keywords, and section prompts, which can save you a significant amount of time.</p>
                    </div>
                    <div class="lead mb-5 col">
                        <div class="display-1 py-3 h1"><i class="bi bi-alarm"></i></div>
                        <p>Professional-looking resume: Resume builders typically offer professional-looking templates, which can help you create a visually appealing and polished resume. These templates are designed to highlight your strengths and experience in a clear and concise way, which can impress potential employers.</p>
                    </div>
                    <div class="lead mb-5 col">
                        <div class="display-1 py-3 h1"><i class="bi bi-calendar-check"></i></div>
                        <p>Easy to update: Once you have created a resume using a builder, you can easily update it whenever you need to. You can add new information, modify existing information, or change the formatting of the resume without having to start from scratch.</p>
                    </div>
                </div>
            </div>
        </div>
</section>
<style>
    .mast {
        height: 100vh;
        margin: 0;
        width: 100%;
        padding: 0;
    }
    .hmast{
        margin: 0;
        width: 100%;
        padding: 0;
        background-color: #D9AFD9;
        background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
    }

</style>