@model ResumeBuilder.Models.Link

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Link</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="LinkId" />
            <div class="form-group">
                <label asp-for="Facebook" class="control-label"></label>
                <input asp-for="Facebook" class="form-control" />
                <span asp-validation-for="Facebook" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinkedIn" class="control-label"></label>
                <input asp-for="LinkedIn" class="form-control" />
                <span asp-validation-for="LinkedIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Github" class="control-label"></label>
                <input asp-for="Github" class="form-control" />
                <span asp-validation-for="Github" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Portfolio" class="control-label"></label>
                <input asp-for="Portfolio" class="form-control" />
                <span asp-validation-for="Portfolio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <select asp-for="StudentId" class="form-control" asp-items="ViewBag.StudentId"></select>
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
